@media only screen and (max-width:1224px) {
    .portfolio-down{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
}
@media only screen and (max-width:1024px) {
    .team-down, .service-down{
        display: grid;
        grid-template-columns: repeat(2, 42%);
        row-gap: 40px;
    }
    .client-row{
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        text-align: center;
    }
    .info-down{
        width: 100%;
    }
    .social ul{
        width: 90%;
    }
    .social ul li a{
        font-size: 15px;
    }
    .skill-down h2{
        font-size: 20px;
        line-height: 21px;
    }
}
@media only screen and (max-width:900px){
    .main-nav{
        display: none;
    }
    .mobile-menu{
        display: flex;
        align-items: center;
    }
    #home img{
        width: 80px;
    }
    .mobile-menu span{
        font-size: 30px;
    }
}
@media only screen and (max-width:700px){
    #team-d img{
        width: 100px;
    }
    .portfolio-btn{
        grid-template-columns: repeat(4, 24%);
        width: 90%;
    }
    .tv img{
        width:300px;
    }
    .service-top h1, .team-top h1, .skill-top h1, .portfolio-top h1, .about-top h1, .info-top h1{
        font-size: 25px;
    }
    .service-top p, .team-top p, .skill-top p, .portfolio-top p, .about-top p, .info-top p{
        font-size: 13px;
    }
    .row-2 h1{
        font-size:25px;
        line-height: 25px;
    }
    .client-col i{
        font-size: 15px;
        line-height: 0px;
    }
    .client-col h3{
        font-size: 20px;
        margin-top: 5px;
    }
    .client-col h4{
        font-size: 12px;
    }
    .service-down img{
        width: 50px;
    }
    .service-down h2{
        font-size: 15px;
        color: #fff;
    }
    .service-down p{
        font-size: 10px;
        color: #fff;
    }
    .team-down #profile-name{
        font-size: 17px;
        line-height: 18px;
        margin-bottom: 0px;
    }
    .team-down #profession{
        margin-top: 0px;
        font-size: 12px;
        margin-bottom: 0px;
    }
    .comment{
        margin-top: 0px;
        font-size: 10px;
        margin-bottom: 0px;
    }
    .icon{
        margin-top: 10px;
    }
    .icon i{
        padding: 8px;
        font-size: 10px;
    }
    .skill-down h2{
        font-size: 15px;
        line-height: 18px;
    }
}
@media only screen and (max-width:550px){
    .team-down, .service-down, .about-down{
        grid-template-columns: repeat(1, 70%);
        row-gap: 40px;
        justify-content: center;
        align-items: center;
    }
    #team-d img{
        width: 50px;
    }
    #team-d{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .social-net{
        grid-template-columns: repeat(3, 30%);
        width: 70%;
    }
    .row-2 h1{
        font-size:20px;
        line-height: 20px;
    }
    .btn-hero{
        padding: 10px 30px;
        font-size: 13px;
    }
    .service-top h1, .team-top h1, .skill-top h1, .portfolio-top h1, .about-top h1, .info-top h1{
        font-size: 20px;
        letter-spacing: 1px;
    }
    .service-top p, .team-top p, .skill-top p, .portfolio-top p, .about-top p, .info-top p{
        font-size: 13px;
    }
    .info-down input, .info-down textarea{
        padding: 5px;
        font-size: 10px;
    }
    .portfolio-btn button{
        font-size: 10px;
    }
    .portfolio-btn{
        grid-template-columns: repeat(2,45%);
        row-gap: 10px;
    }
    .team-down #profile-name{
        font-size: 13px;
        line-height: 14px;
    }
    .team-down #profession{
        font-size: 10px;
    }
    #itallic{
        font-size: 12px;
    }
    .client-col h3{
        font-size: 15px;
        margin-top: 5px;
    }
    .client-col h4{
        font-size: 10px;
    }
    .icon{
        margin-top: 10px;
        column-gap: 5px;
    }
    .icon i{
        padding: 7px;
        font-size: 7px;
    }
    .skill-down{
        display: grid;
        grid-template-columns: repeat(2,30%);
        row-gap: 40px;
    }
    .tv img{
        width:250px;
    }
    .tv #tv-content{
        font-size: 12px;
    }
    .github{
        grid-column: 1 / span 3;
    }
}
@media only screen and (max-width:280px){
    #team-d #p-img{
        width: 40px;
    }
    .mobile-menu span{
        font-size: 20px;
    }
    .social-net{
        grid-template-columns: repeat(2, 45%);
        width: 70%;
    }
    .github{
        grid-column: 1 / span 2;
    }
    .btn-hero{
        padding: 10px 30px;
        font-size: 10px;
    }
    .service-top h1, .team-top h1, .skill-top h1, .portfolio-top h1, .about-top h1, .info-top h1{
        font-size: 15px;
    }
    .service-top p, .team-top p, .skill-top p, .portfolio-top p, .about-top p, .info-top p{
        font-size: 10px;
    }
    .row-2 h1{
        font-size:15px;
        line-height: 15px;
    }
    #team-d img{
        width: 100px;
    }
    .btn-hero{
        padding: 5px 10px;
        font-size: 8px;
    }
    .team-down, .service-down, .about-down{
        grid-template-columns: repeat(1, 100%);
        row-gap: 40px;
        justify-content: center;
        align-items: center;
    }
    .skill-down h2{
        font-size: 10px;
        line-height: 11px;
    }
    .tv #tv-content{
        font-size: 8px;
    }
    .tv img{
        width:100px;
    }
    .portfolio-btn button{
        font-size: 6px;
    }
}